{{define "title"}}Blueprint{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	{{if eq .AuthLevel "auth"}}
		<h1>Submit Form</h1>
		<div id="input-form">
			<div id="pdf-submit">
				<form action="/file-transfer" enctype="multipart/form-data" method="post">
					<input class="btn btn-light" type="file" id="choose-file" name="choose-file"></input>
					<input class="btn btn-primary" type="submit" id="submit-file" name="submit-file"></input>
					<input type="hidden" name="_token" value="{{$.token}}">
					<input type="hidden" name="_method" value="POST">
				</form>
			</div>
			<div id="a-submit">
			<form action="/ocr-omr" method="post">
				<input class="btn btn-primary" type="submit" id="analyze" name="analyze" value="Analyze Form"></input>
				<input type="hidden" name="_token" value="{{$.token}}">
				<input type="hidden" name="_method" value="POST">
			</form>
			</div>
		</div>
	{{else}}
	
		<div class="page-header">
			<h1>{{template "title" .}}</h1>
		</div>
		<p>Click {{LINK "login" "here"}} to login.</p>
	
	{{end}}
	
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}